html {
    scroll-behavior: smooth;
}
body {
    font-family: "Ubuntu", sans-serif;
    color:azure;
    background-color: #04001c;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
    width: auto;
    z-index: 999;
    height: 80px;
    background: #000535;
    margin-top: 10px;
    transition: box-shadow 0.5s;
}
header:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.115);
}
.sticky {
    position: fixed;
    top: 0;
    width: 99%;
}
.sticky + .body {
    padding-top: 102px;
}
.dhenias {
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 10px;
    margin-left: 35px;
    margin-right: 25px;
    cursor: pointer;
}
.dhenias a {
    text-align: center;
    text-decoration: none;
    color: azure;
    font-size: larger;
    transition: color 0.2s;
}
.subheader {
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 12px;
    margin-left: 10px;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}
.subheader a {
    text-align: center;
    text-decoration: none;
    color: rgba(240, 255, 255, 0.7);
    font-size: medium;
    transition: color 0.2s;
}
.subheader a:hover {
    color: azure;
}
.body {
    margin: 15px;
    color: azure;
    font-size: medium;
}
.profile {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
}
.pfp {
    display: inline-flex;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 25px;
    opacity: 90%;
    transition: border-radius 0.3s, transform 0.3s, opacity 0.3s;
}
.pfp:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 8px;
}
.pfpm {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}
.pfpm img {
    max-width: 80%;
    max-height: 80%;
}
#den:target {
    display: flex;
}
.close {
    position: fixed;
    top: 2%;
    right: 3%;
    font-size: 50px;
    color: rgba(240, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}
.close:hover {
    color: azure;
}
.disprofile {
    margin-left: 20px;
    margin-bottom: 20px;
    align-content: center;
    font-size: xx-large;
    transition: margin-left 0.2s;
}
.name {
    display: flex;
    color: rgba(240, 255, 255, 0.7);
    margin-bottom: 2px;
    padding-bottom: 10px;
    transition: color 0.3s, font-size 0.1s;
}
.name:hover {
    color: azure;
}
.agency {
    color: rgba(240, 255, 255, 0.7);
    margin-top: 0;
    padding-top: 0;
    font-size: large;
    transition: color 0.3s, font-size 0.1s;
}
.agency:hover {
    color: azure;
}
@media screen and (max-width: 800px) and (min-width: 651px) {
    .disprofile {
        margin-left: 10px;
    }
    .name {
        font-size: x-large;
    }
    .agency {
        font-size: medium;
    }
}
@media screen and (max-width: 650px) and (min-width: 401px) {
    .disprofile {
        margin-left: 0px;
    }
    .name {
        font-size: large;
    }
    .agency {
        font-size: small;
    }
}