html {
    scroll-behavior: smooth;
}
body {
    font-family: "Ubuntu", sans-serif;
    color:azure;
    background-color: #04001c;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
    display: flex;
    width: auto;
    height: 80px;
    background: #000535;
    margin-top: 10px;
    transition: box-shadow 0.5s;
}
header:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.115);
}
.sticky {
    position: fixed;
    top: 0;
    width: 99%;
}
.sticky + .body {
    padding-top: 102px;
}
.pfp {
    width: 160px;
    height: 160px;
}
.dhenias {
    display: inline-flex;
    vertical-align: middle;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.5s, margin-left 0.3s, padding-right 0.5s;
}
.dhenias a {
    text-align: center;
    text-decoration: none;
    color: azure;
    font-size: larger;
    transition: color 0.5s;
}
.dhenias:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    margin-left: 53px;
    padding-right: 13px;
}
.dhenias a:hover {
    color: white;
}
.subheader {
    display: inline-flex;
    vertical-align: middle;
    margin: 12px;
    margin-left: 10px;
    color: rgba(240, 255, 255, 0.7);
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    transition: transform 0.5s, margin-left 0.3s, padding-left 0.5s, padding-right 0.5s, color 0.5s;
}
.subheader a {
    text-align: center;
    text-decoration: none;
    font-size: medium;
}
.subheader:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    margin-left: 14px;
    padding-left: 13px;
    padding-right: 13px;
    color: azure;
}
.body {
    margin: 15px;
    color: azure;
    font-size: medium;
}
.profile {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
}
.pfp {
    display: inline-flex;
    border-radius: 50%;
    margin: 25px;
    opacity: 90%;
    transition: border-radius 0.2s, transform 0.5s, opacity 0.3s;
}
.pfp:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 25%;
}
.disprofile {
    margin-left: 20px;
    margin-bottom: 20px;
    align-content: center;
    font-size: xx-large;
    transition: margin-left 0.2s;
}
.name {
    display: flex;
    color: rgba(240, 255, 255, 0.7);
    margin-bottom: 2px;
    padding-bottom: 10px;
    transition: transform 0.5s, margin-left 0.3s, color 0.2s, font-size 0.1s;
}
.name:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: azure;
    margin-left: 25px;
}
.agency {
    color: rgba(240, 255, 255, 0.7);
    margin-top: 0;
    padding-top: 0;
    font-size: large;
    transition: transform 0.5s, margin-left 0.3s, color 0.2s, font-size 0.1s;
}
.agency:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: azure;
    margin-left: 25px;
}
@media screen and (max-width: 800px) and (min-width: 651px) {
    .disprofile {
        margin-left: 10px;
    }
    .name {
        font-size: x-large;
    }
    .agency {
        font-size: medium;
    }
}
@media screen and (max-width: 650px) and (min-width: 401px) {
    .disprofile {
        margin-left: 0px;
    }
    .name {
        font-size: large;
    }
    .agency {
        font-size: small;
    }
}